/* Global STZH variables */

:root {
    --stzh-color-lemonyellow10-rgb: 255 253 241;
    --stzh-color-lemonyellow10: rgba(var(--stzh-color-lemonyellow10-rgb) / 1);
    --stzh-color-lemonyellow20-rgb: 255 254 201;
    --stzh-color-lemonyellow20: rgba(var(--stzh-color-lemonyellow20-rgb) / 1);
    --stzh-color-lemonyellow30-rgb: 255 253 137;
    --stzh-color-lemonyellow30: rgba(var(--stzh-color-lemonyellow30-rgb) / 1);
    --stzh-color-lemonyellow40-rgb: 255 243 105;
    --stzh-color-lemonyellow40: rgba(var(--stzh-color-lemonyellow40-rgb) / 1);
    --stzh-color-lemonyellow50-rgb: 253 232 40;
    --stzh-color-lemonyellow50: rgba(var(--stzh-color-lemonyellow50-rgb) / 1);
    --stzh-color-lemonyellow60-rgb: 241 217 0;
    --stzh-color-lemonyellow60: rgba(var(--stzh-color-lemonyellow60-rgb) / 1);
    --stzh-color-lemonyellow70-rgb: 204 186 16;
    --stzh-color-lemonyellow70: rgba(var(--stzh-color-lemonyellow70-rgb) / 1);
    --stzh-color-lemonyellow80-rgb: 153 141 0;
    --stzh-color-lemonyellow80: rgba(var(--stzh-color-lemonyellow80-rgb) / 1);
    --stzh-color-lemonyellow90-rgb: 84 79 9;
    --stzh-color-lemonyellow90: rgba(var(--stzh-color-lemonyellow90-rgb) / 1);
    --stzh-color-lemonyellow100-rgb: 33 31 1;
    --stzh-color-lemonyellow100: rgba(var(--stzh-color-lemonyellow100-rgb) / 1);
    --stzh-color-lemongrass10-rgb: 252 254 220;
    --stzh-color-lemongrass10: rgba(var(--stzh-color-lemongrass10-rgb) / 1);
    --stzh-color-lemongrass20-rgb: 250 250 181;
    --stzh-color-lemongrass20: rgba(var(--stzh-color-lemongrass20-rgb) / 1);
    --stzh-color-lemongrass30-rgb: 241 242 106;
    --stzh-color-lemongrass30: rgba(var(--stzh-color-lemongrass30-rgb) / 1);
    --stzh-color-lemongrass40-rgb: 224 231 33;
    --stzh-color-lemongrass40: rgba(var(--stzh-color-lemongrass40-rgb) / 1);
    --stzh-color-lemongrass50-rgb: 209 218 28;
    --stzh-color-lemongrass50: rgba(var(--stzh-color-lemongrass50-rgb) / 1);
    --stzh-color-lemongrass60-rgb: 191 204 0;
    --stzh-color-lemongrass60: rgba(var(--stzh-color-lemongrass60-rgb) / 1);
    --stzh-color-lemongrass70-rgb: 146 162 16;
    --stzh-color-lemongrass70: rgba(var(--stzh-color-lemongrass70-rgb) / 1);
    --stzh-color-lemongrass80-rgb: 104 116 0;
    --stzh-color-lemongrass80: rgba(var(--stzh-color-lemongrass80-rgb) / 1);
    --stzh-color-lemongrass90-rgb: 49 57 0;
    --stzh-color-lemongrass90: rgba(var(--stzh-color-lemongrass90-rgb) / 1);
    --stzh-color-lemongrass100-rgb: 19 31 1;
    --stzh-color-lemongrass100: rgba(var(--stzh-color-lemongrass100-rgb) / 1);
    --stzh-color-limegreen10-rgb: 249 255 231;
    --stzh-color-limegreen10: rgba(var(--stzh-color-limegreen10-rgb) / 1);
    --stzh-color-limegreen20-rgb: 231 246 192;
    --stzh-color-limegreen20: rgba(var(--stzh-color-limegreen20-rgb) / 1);
    --stzh-color-limegreen30-rgb: 211 231 131;
    --stzh-color-limegreen30: rgba(var(--stzh-color-limegreen30-rgb) / 1);
    --stzh-color-limegreen40-rgb: 185 213 92;
    --stzh-color-limegreen40: rgba(var(--stzh-color-limegreen40-rgb) / 1);
    --stzh-color-limegreen50-rgb: 153 195 46;
    --stzh-color-limegreen50: rgba(var(--stzh-color-limegreen50-rgb) / 1);
    --stzh-color-limegreen60-rgb: 127 180 32;
    --stzh-color-limegreen60: rgba(var(--stzh-color-limegreen60-rgb) / 1);
    --stzh-color-limegreen70-rgb: 83 131 27;
    --stzh-color-limegreen70: rgba(var(--stzh-color-limegreen70-rgb) / 1);
    --stzh-color-limegreen80-rgb: 58 100 19;
    --stzh-color-limegreen80: rgba(var(--stzh-color-limegreen80-rgb) / 1);
    --stzh-color-limegreen90-rgb: 17 61 6;
    --stzh-color-limegreen90: rgba(var(--stzh-color-limegreen90-rgb) / 1);
    --stzh-color-limegreen100-rgb: 4 32 0;
    --stzh-color-limegreen100: rgba(var(--stzh-color-limegreen100-rgb) / 1);
    --stzh-color-shamrock10-rgb: 240 253 233;
    --stzh-color-shamrock10: rgba(var(--stzh-color-shamrock10-rgb) / 1);
    --stzh-color-shamrock20-rgb: 222 242 205;
    --stzh-color-shamrock20: rgba(var(--stzh-color-shamrock20-rgb) / 1);
    --stzh-color-shamrock30-rgb: 188 229 158;
    --stzh-color-shamrock30: rgba(var(--stzh-color-shamrock30-rgb) / 1);
    --stzh-color-shamrock40-rgb: 142 207 105;
    --stzh-color-shamrock40: rgba(var(--stzh-color-shamrock40-rgb) / 1);
    --stzh-color-shamrock50-rgb: 100 192 79;
    --stzh-color-shamrock50: rgba(var(--stzh-color-shamrock50-rgb) / 1);
    --stzh-color-shamrock60-rgb: 55 170 50;
    --stzh-color-shamrock60: rgba(var(--stzh-color-shamrock60-rgb) / 1);
    --stzh-color-shamrock70-rgb: 6 117 30;
    --stzh-color-shamrock70: rgba(var(--stzh-color-shamrock70-rgb) / 1);
    --stzh-color-shamrock80-rgb: 0 78 20;
    --stzh-color-shamrock80: rgba(var(--stzh-color-shamrock80-rgb) / 1);
    --stzh-color-shamrock90-rgb: 2 48 9;
    --stzh-color-shamrock90: rgba(var(--stzh-color-shamrock90-rgb) / 1);
    --stzh-color-shamrock100-rgb: 8 28 0;
    --stzh-color-shamrock100: rgba(var(--stzh-color-shamrock100-rgb) / 1);
    --stzh-color-firgreen10-rgb: 233 252 242;
    --stzh-color-firgreen10: rgba(var(--stzh-color-firgreen10-rgb) / 1);
    --stzh-color-firgreen20-rgb: 207 238 216;
    --stzh-color-firgreen20: rgba(var(--stzh-color-firgreen20-rgb) / 1);
    --stzh-color-firgreen30-rgb: 162 229 176;
    --stzh-color-firgreen30: rgba(var(--stzh-color-firgreen30-rgb) / 1);
    --stzh-color-firgreen40-rgb: 101 205 140;
    --stzh-color-firgreen40: rgba(var(--stzh-color-firgreen40-rgb) / 1);
    --stzh-color-firgreen50-rgb: 52 177 111;
    --stzh-color-firgreen50: rgba(var(--stzh-color-firgreen50-rgb) / 1);
    --stzh-color-firgreen60-rgb: 0 151 85;
    --stzh-color-firgreen60: rgba(var(--stzh-color-firgreen60-rgb) / 1);
    --stzh-color-firgreen70-rgb: 0 104 49;
    --stzh-color-firgreen70: rgba(var(--stzh-color-firgreen70-rgb) / 1);
    --stzh-color-firgreen80-rgb: 0 71 36;
    --stzh-color-firgreen80: rgba(var(--stzh-color-firgreen80-rgb) / 1);
    --stzh-color-firgreen90-rgb: 0 41 20;
    --stzh-color-firgreen90: rgba(var(--stzh-color-firgreen90-rgb) / 1);
    --stzh-color-firgreen100-rgb: 0 22 9;
    --stzh-color-firgreen100: rgba(var(--stzh-color-firgreen100-rgb) / 1);
    --stzh-color-petrol10-rgb: 219 252 252;
    --stzh-color-petrol10: rgba(var(--stzh-color-petrol10-rgb) / 1);
    --stzh-color-petrol20-rgb: 181 244 244;
    --stzh-color-petrol20: rgba(var(--stzh-color-petrol20-rgb) / 1);
    --stzh-color-petrol30-rgb: 126 231 227;
    --stzh-color-petrol30: rgba(var(--stzh-color-petrol30-rgb) / 1);
    --stzh-color-petrol40-rgb: 42 199 199;
    --stzh-color-petrol40: rgba(var(--stzh-color-petrol40-rgb) / 1);
    --stzh-color-petrol50-rgb: 0 159 157;
    --stzh-color-petrol50: rgba(var(--stzh-color-petrol50-rgb) / 1);
    --stzh-color-petrol60-rgb: 0 124 120;
    --stzh-color-petrol60: rgba(var(--stzh-color-petrol60-rgb) / 1);
    --stzh-color-petrol70-rgb: 0 88 87;
    --stzh-color-petrol70: rgba(var(--stzh-color-petrol70-rgb) / 1);
    --stzh-color-petrol80-rgb: 0 60 64;
    --stzh-color-petrol80: rgba(var(--stzh-color-petrol80-rgb) / 1);
    --stzh-color-petrol90-rgb: 0 33 33;
    --stzh-color-petrol90: rgba(var(--stzh-color-petrol90-rgb) / 1);
    --stzh-color-petrol100-rgb: 0 23 21;
    --stzh-color-petrol100: rgba(var(--stzh-color-petrol100-rgb) / 1);
    --stzh-color-cyan10-rgb: 223 252 255;
    --stzh-color-cyan10: rgba(var(--stzh-color-cyan10-rgb) / 1);
    --stzh-color-cyan20-rgb: 187 238 254;
    --stzh-color-cyan20: rgba(var(--stzh-color-cyan20-rgb) / 1);
    --stzh-color-cyan30-rgb: 123 220 249;
    --stzh-color-cyan30: rgba(var(--stzh-color-cyan30-rgb) / 1);
    --stzh-color-cyan40-rgb: 35 195 241;
    --stzh-color-cyan40: rgba(var(--stzh-color-cyan40-rgb) / 1);
    --stzh-color-cyan50-rgb: 0 152 198;
    --stzh-color-cyan50: rgba(var(--stzh-color-cyan50-rgb) / 1);
    --stzh-color-cyan60-rgb: 0 118 170;
    --stzh-color-cyan60: rgba(var(--stzh-color-cyan60-rgb) / 1);
    --stzh-color-cyan70-rgb: 0 77 118;
    --stzh-color-cyan70: rgba(var(--stzh-color-cyan70-rgb) / 1);
    --stzh-color-cyan80-rgb: 0 52 80;
    --stzh-color-cyan80: rgba(var(--stzh-color-cyan80-rgb) / 1);
    --stzh-color-cyan90-rgb: 0 26 42;
    --stzh-color-cyan90: rgba(var(--stzh-color-cyan90-rgb) / 1);
    --stzh-color-cyan100-rgb: 1 19 30;
    --stzh-color-cyan100: rgba(var(--stzh-color-cyan100-rgb) / 1);
    --stzh-color-cobaltblue10-rgb: 230 247 255;
    --stzh-color-cobaltblue10: rgba(var(--stzh-color-cobaltblue10-rgb) / 1);
    --stzh-color-cobaltblue20-rgb: 197 231 255;
    --stzh-color-cobaltblue20: rgba(var(--stzh-color-cobaltblue20-rgb) / 1);
    --stzh-color-cobaltblue30-rgb: 136 207 255;
    --stzh-color-cobaltblue30: rgba(var(--stzh-color-cobaltblue30-rgb) / 1);
    --stzh-color-cobaltblue40-rgb: 70 178 255;
    --stzh-color-cobaltblue40: rgba(var(--stzh-color-cobaltblue40-rgb) / 1);
    --stzh-color-cobaltblue50-rgb: 10 141 246;
    --stzh-color-cobaltblue50: rgba(var(--stzh-color-cobaltblue50-rgb) / 1);
    --stzh-color-cobaltblue60-rgb: 3 83 220;
    --stzh-color-cobaltblue60: rgba(var(--stzh-color-cobaltblue60-rgb) / 1);
    --stzh-color-cobaltblue70-rgb: 0 47 150;
    --stzh-color-cobaltblue70: rgba(var(--stzh-color-cobaltblue70-rgb) / 1);
    --stzh-color-cobaltblue80-rgb: 0 24 90;
    --stzh-color-cobaltblue80: rgba(var(--stzh-color-cobaltblue80-rgb) / 1);
    --stzh-color-cobaltblue90-rgb: 0 18 49;
    --stzh-color-cobaltblue90: rgba(var(--stzh-color-cobaltblue90-rgb) / 1);
    --stzh-color-cobaltblue100-rgb: 0 9 32;
    --stzh-color-cobaltblue100: rgba(var(--stzh-color-cobaltblue100-rgb) / 1);
    --stzh-color-midnightblue10-rgb: 239 245 255;
    --stzh-color-midnightblue10: rgba(var(--stzh-color-midnightblue10-rgb) / 1);
    --stzh-color-midnightblue20-rgb: 197 219 255;
    --stzh-color-midnightblue20: rgba(var(--stzh-color-midnightblue20-rgb) / 1);
    --stzh-color-midnightblue30-rgb: 148 183 248;
    --stzh-color-midnightblue30: rgba(var(--stzh-color-midnightblue30-rgb) / 1);
    --stzh-color-midnightblue40-rgb: 100 150 255;
    --stzh-color-midnightblue40: rgba(var(--stzh-color-midnightblue40-rgb) / 1);
    --stzh-color-midnightblue50-rgb: 61 107 255;
    --stzh-color-midnightblue50: rgba(var(--stzh-color-midnightblue50-rgb) / 1);
    --stzh-color-midnightblue60-rgb: 52 49 222;
    --stzh-color-midnightblue60: rgba(var(--stzh-color-midnightblue60-rgb) / 1);
    --stzh-color-midnightblue70-rgb: 15 5 160;
    --stzh-color-midnightblue70: rgba(var(--stzh-color-midnightblue70-rgb) / 1);
    --stzh-color-midnightblue80-rgb: 7 0 102;
    --stzh-color-midnightblue80: rgba(var(--stzh-color-midnightblue80-rgb) / 1);
    --stzh-color-midnightblue90-rgb: 7 0 70;
    --stzh-color-midnightblue90: rgba(var(--stzh-color-midnightblue90-rgb) / 1);
    --stzh-color-midnightblue100-rgb: 7 0 48;
    --stzh-color-midnightblue100: rgba(var(--stzh-color-midnightblue100-rgb) / 1);
    --stzh-color-violet10-rgb: 246 243 255;
    --stzh-color-violet10: rgba(var(--stzh-color-violet10-rgb) / 1);
    --stzh-color-violet20-rgb: 227 214 251;
    --stzh-color-violet20: rgba(var(--stzh-color-violet20-rgb) / 1);
    --stzh-color-violet30-rgb: 207 176 255;
    --stzh-color-violet30: rgba(var(--stzh-color-violet30-rgb) / 1);
    --stzh-color-violet40-rgb: 188 146 255;
    --stzh-color-violet40: rgba(var(--stzh-color-violet40-rgb) / 1);
    --stzh-color-violet50-rgb: 161 116 222;
    --stzh-color-violet50: rgba(var(--stzh-color-violet50-rgb) / 1);
    --stzh-color-violet60-rgb: 123 79 183;
    --stzh-color-violet60: rgba(var(--stzh-color-violet60-rgb) / 1);
    --stzh-color-violet70-rgb: 81 36 128;
    --stzh-color-violet70: rgba(var(--stzh-color-violet70-rgb) / 1);
    --stzh-color-violet80-rgb: 53 20 89;
    --stzh-color-violet80: rgba(var(--stzh-color-violet80-rgb) / 1);
    --stzh-color-violet90-rgb: 32 0 68;
    --stzh-color-violet90: rgba(var(--stzh-color-violet90-rgb) / 1);
    --stzh-color-violet100-rgb: 24 0 54;
    --stzh-color-violet100: rgba(var(--stzh-color-violet100-rgb) / 1);
    --stzh-color-magenta10-rgb: 253 241 248;
    --stzh-color-magenta10: rgba(var(--stzh-color-magenta10-rgb) / 1);
    --stzh-color-magenta20-rgb: 254 210 238;
    --stzh-color-magenta20: rgba(var(--stzh-color-magenta20-rgb) / 1);
    --stzh-color-magenta30-rgb: 249 158 200;
    --stzh-color-magenta30: rgba(var(--stzh-color-magenta30-rgb) / 1);
    --stzh-color-magenta40-rgb: 243 107 166;
    --stzh-color-magenta40: rgba(var(--stzh-color-magenta40-rgb) / 1);
    --stzh-color-magenta50-rgb: 233 60 133;
    --stzh-color-magenta50: rgba(var(--stzh-color-magenta50-rgb) / 1);
    --stzh-color-magenta60-rgb: 198 0 107;
    --stzh-color-magenta60: rgba(var(--stzh-color-magenta60-rgb) / 1);
    --stzh-color-magenta70-rgb: 150 0 85;
    --stzh-color-magenta70: rgba(var(--stzh-color-magenta70-rgb) / 1);
    --stzh-color-magenta80-rgb: 96 0 59;
    --stzh-color-magenta80: rgba(var(--stzh-color-magenta80-rgb) / 1);
    --stzh-color-magenta90-rgb: 57 0 32;
    --stzh-color-magenta90: rgba(var(--stzh-color-magenta90-rgb) / 1);
    --stzh-color-magenta100-rgb: 34 0 13;
    --stzh-color-magenta100: rgba(var(--stzh-color-magenta100-rgb) / 1);
    --stzh-color-red10-rgb: 254 243 243;
    --stzh-color-red10: rgba(var(--stzh-color-red10-rgb) / 1);
    --stzh-color-red20-rgb: 250 215 224;
    --stzh-color-red20: rgba(var(--stzh-color-red20-rgb) / 1);
    --stzh-color-red30-rgb: 247 165 175;
    --stzh-color-red30: rgba(var(--stzh-color-red30-rgb) / 1);
    --stzh-color-red40-rgb: 251 115 126;
    --stzh-color-red40: rgba(var(--stzh-color-red40-rgb) / 1);
    --stzh-color-red50-rgb: 232 64 76;
    --stzh-color-red50: rgba(var(--stzh-color-red50-rgb) / 1);
    --stzh-color-red60-rgb: 220 3 14;
    --stzh-color-red60: rgba(var(--stzh-color-red60-rgb) / 1);
    --stzh-color-red70-rgb: 163 20 19;
    --stzh-color-red70: rgba(var(--stzh-color-red70-rgb) / 1);
    --stzh-color-red80-rgb: 100 13 4;
    --stzh-color-red80: rgba(var(--stzh-color-red80-rgb) / 1);
    --stzh-color-red90-rgb: 61 14 9;
    --stzh-color-red90: rgba(var(--stzh-color-red90-rgb) / 1);
    --stzh-color-red100-rgb: 31 5 4;
    --stzh-color-red100: rgba(var(--stzh-color-red100-rgb) / 1);
    --stzh-color-coral10-rgb: 253 239 236;
    --stzh-color-coral10: rgba(var(--stzh-color-coral10-rgb) / 1);
    --stzh-color-coral20-rgb: 251 219 212;
    --stzh-color-coral20: rgba(var(--stzh-color-coral20-rgb) / 1);
    --stzh-color-coral30-rgb: 246 175 160;
    --stzh-color-coral30: rgba(var(--stzh-color-coral30-rgb) / 1);
    --stzh-color-coral40-rgb: 241 135 133;
    --stzh-color-coral40: rgba(var(--stzh-color-coral40-rgb) / 1);
    --stzh-color-coral50-rgb: 234 79 97;
    --stzh-color-coral50: rgba(var(--stzh-color-coral50-rgb) / 1);
    --stzh-color-coral60-rgb: 226 45 83;
    --stzh-color-coral60: rgba(var(--stzh-color-coral60-rgb) / 1);
    --stzh-color-coral70-rgb: 163 20 19;
    --stzh-color-coral70: rgba(var(--stzh-color-coral70-rgb) / 1);
    --stzh-color-coral80-rgb: 109 3 33;
    --stzh-color-coral80: rgba(var(--stzh-color-coral80-rgb) / 1);
    --stzh-color-coral90-rgb: 71 0 19;
    --stzh-color-coral90: rgba(var(--stzh-color-coral90-rgb) / 1);
    --stzh-color-coral100-rgb: 41 0 1;
    --stzh-color-coral100: rgba(var(--stzh-color-coral100-rgb) / 1);
    --stzh-color-orange10-rgb: 254 245 234;
    --stzh-color-orange10: rgba(var(--stzh-color-orange10-rgb) / 1);
    --stzh-color-orange20-rgb: 253 228 200;
    --stzh-color-orange20: rgba(var(--stzh-color-orange20-rgb) / 1);
    --stzh-color-orange30-rgb: 251 203 151;
    --stzh-color-orange30: rgba(var(--stzh-color-orange30-rgb) / 1);
    --stzh-color-orange40-rgb: 246 169 96;
    --stzh-color-orange40: rgba(var(--stzh-color-orange40-rgb) / 1);
    --stzh-color-orange50-rgb: 241 136 48;
    --stzh-color-orange50: rgba(var(--stzh-color-orange50-rgb) / 1);
    --stzh-color-orange60-rgb: 235 94 0;
    --stzh-color-orange60: rgba(var(--stzh-color-orange60-rgb) / 1);
    --stzh-color-orange70-rgb: 178 58 1;
    --stzh-color-orange70: rgba(var(--stzh-color-orange70-rgb) / 1);
    --stzh-color-orange80-rgb: 124 43 1;
    --stzh-color-orange80: rgba(var(--stzh-color-orange80-rgb) / 1);
    --stzh-color-orange90-rgb: 72 23 0;
    --stzh-color-orange90: rgba(var(--stzh-color-orange90-rgb) / 1);
    --stzh-color-orange100-rgb: 46 17 0;
    --stzh-color-orange100: rgba(var(--stzh-color-orange100-rgb) / 1);
    --stzh-color-sunnyyellow10-rgb: 255 250 234;
    --stzh-color-sunnyyellow10: rgba(var(--stzh-color-sunnyyellow10-rgb) / 1);
    --stzh-color-sunnyyellow20-rgb: 255 238 182;
    --stzh-color-sunnyyellow20: rgba(var(--stzh-color-sunnyyellow20-rgb) / 1);
    --stzh-color-sunnyyellow30-rgb: 255 228 138;
    --stzh-color-sunnyyellow30: rgba(var(--stzh-color-sunnyyellow30-rgb) / 1);
    --stzh-color-sunnyyellow40-rgb: 255 223 97;
    --stzh-color-sunnyyellow40: rgba(var(--stzh-color-sunnyyellow40-rgb) / 1);
    --stzh-color-sunnyyellow50-rgb: 255 204 0;
    --stzh-color-sunnyyellow50: rgba(var(--stzh-color-sunnyyellow50-rgb) / 1);
    --stzh-color-sunnyyellow60-rgb: 251 185 0;
    --stzh-color-sunnyyellow60: rgba(var(--stzh-color-sunnyyellow60-rgb) / 1);
    --stzh-color-sunnyyellow70-rgb: 192 134 0;
    --stzh-color-sunnyyellow70: rgba(var(--stzh-color-sunnyyellow70-rgb) / 1);
    --stzh-color-sunnyyellow80-rgb: 146 105 1;
    --stzh-color-sunnyyellow80: rgba(var(--stzh-color-sunnyyellow80-rgb) / 1);
    --stzh-color-sunnyyellow90-rgb: 97 70 0;
    --stzh-color-sunnyyellow90: rgba(var(--stzh-color-sunnyyellow90-rgb) / 1);
    --stzh-color-sunnyyellow100-rgb: 51 35 0;
    --stzh-color-sunnyyellow100: rgba(var(--stzh-color-sunnyyellow100-rgb) / 1);
    --stzh-color-ocher10-rgb: 253 251 247;
    --stzh-color-ocher10: rgba(var(--stzh-color-ocher10-rgb) / 1);
    --stzh-color-ocher20-rgb: 239 226 200;
    --stzh-color-ocher20: rgba(var(--stzh-color-ocher20-rgb) / 1);
    --stzh-color-ocher30-rgb: 222 181 130;
    --stzh-color-ocher30: rgba(var(--stzh-color-ocher30-rgb) / 1);
    --stzh-color-ocher40-rgb: 218 158 73;
    --stzh-color-ocher40: rgba(var(--stzh-color-ocher40-rgb) / 1);
    --stzh-color-ocher50-rgb: 214 133 0;
    --stzh-color-ocher50: rgba(var(--stzh-color-ocher50-rgb) / 1);
    --stzh-color-ocher60-rgb: 198 121 0;
    --stzh-color-ocher60: rgba(var(--stzh-color-ocher60-rgb) / 1);
    --stzh-color-ocher70-rgb: 154 91 1;
    --stzh-color-ocher70: rgba(var(--stzh-color-ocher70-rgb) / 1);
    --stzh-color-ocher80-rgb: 113 64 0;
    --stzh-color-ocher80: rgba(var(--stzh-color-ocher80-rgb) / 1);
    --stzh-color-ocher90-rgb: 74 40 0;
    --stzh-color-ocher90: rgba(var(--stzh-color-ocher90-rgb) / 1);
    --stzh-color-ocher100-rgb: 49 26 1;
    --stzh-color-ocher100: rgba(var(--stzh-color-ocher100-rgb) / 1);
    --stzh-color-warmgrey10-rgb: 246 243 242;
    --stzh-color-warmgrey10: rgba(var(--stzh-color-warmgrey10-rgb) / 1);
    --stzh-color-warmgrey20-rgb: 228 224 223;
    --stzh-color-warmgrey20: rgba(var(--stzh-color-warmgrey20-rgb) / 1);
    --stzh-color-warmgrey30-rgb: 201 197 196;
    --stzh-color-warmgrey30: rgba(var(--stzh-color-warmgrey30-rgb) / 1);
    --stzh-color-warmgrey40-rgb: 172 168 168;
    --stzh-color-warmgrey40: rgba(var(--stzh-color-warmgrey40-rgb) / 1);
    --stzh-color-warmgrey50-rgb: 143 139 139;
    --stzh-color-warmgrey50: rgba(var(--stzh-color-warmgrey50-rgb) / 1);
    --stzh-color-warmgrey60-rgb: 114 111 110;
    --stzh-color-warmgrey60: rgba(var(--stzh-color-warmgrey60-rgb) / 1);
    --stzh-color-warmgrey70-rgb: 84 80 80;
    --stzh-color-warmgrey70: rgba(var(--stzh-color-warmgrey70-rgb) / 1);
    --stzh-color-warmgrey80-rgb: 59 55 55;
    --stzh-color-warmgrey80: rgba(var(--stzh-color-warmgrey80-rgb) / 1);
    --stzh-color-warmgrey90-rgb: 37 35 35;
    --stzh-color-warmgrey90: rgba(var(--stzh-color-warmgrey90-rgb) / 1);
    --stzh-color-warmgrey100-rgb: 19 17 17;
    --stzh-color-warmgrey100: rgba(var(--stzh-color-warmgrey100-rgb) / 1);
    --stzh-color-coolgrey10-rgb: 244 247 249;
    --stzh-color-coolgrey10: rgba(var(--stzh-color-coolgrey10-rgb) / 1);
    --stzh-color-coolgrey20-rgb: 217 233 239;
    --stzh-color-coolgrey20: rgba(var(--stzh-color-coolgrey20-rgb) / 1);
    --stzh-color-coolgrey30-rgb: 178 204 215;
    --stzh-color-coolgrey30: rgba(var(--stzh-color-coolgrey30-rgb) / 1);
    --stzh-color-coolgrey40-rgb: 141 175 188;
    --stzh-color-coolgrey40: rgba(var(--stzh-color-coolgrey40-rgb) / 1);
    --stzh-color-coolgrey50-rgb: 121 148 159;
    --stzh-color-coolgrey50: rgba(var(--stzh-color-coolgrey50-rgb) / 1);
    --stzh-color-coolgrey60-rgb: 95 122 131;
    --stzh-color-coolgrey60: rgba(var(--stzh-color-coolgrey60-rgb) / 1);
    --stzh-color-coolgrey70-rgb: 61 87 94;
    --stzh-color-coolgrey70: rgba(var(--stzh-color-coolgrey70-rgb) / 1);
    --stzh-color-coolgrey80-rgb: 34 58 65;
    --stzh-color-coolgrey80: rgba(var(--stzh-color-coolgrey80-rgb) / 1);
    --stzh-color-coolgrey90-rgb: 8 36 41;
    --stzh-color-coolgrey90: rgba(var(--stzh-color-coolgrey90-rgb) / 1);
    --stzh-color-coolgrey100-rgb: 0 18 21;
    --stzh-color-coolgrey100: rgba(var(--stzh-color-coolgrey100-rgb) / 1);
    --stzh-color-grey10-rgb: 244 244 244;
    --stzh-color-grey10: rgba(var(--stzh-color-grey10-rgb) / 1);
    --stzh-color-grey20-rgb: 232 232 232;
    --stzh-color-grey20: rgba(var(--stzh-color-grey20-rgb) / 1);
    --stzh-color-grey30-rgb: 210 210 210;
    --stzh-color-grey30: rgba(var(--stzh-color-grey30-rgb) / 1);
    --stzh-color-grey40-rgb: 194 194 194;
    --stzh-color-grey40: rgba(var(--stzh-color-grey40-rgb) / 1);
    --stzh-color-grey50-rgb: 170 170 170;
    --stzh-color-grey50: rgba(var(--stzh-color-grey50-rgb) / 1);
    --stzh-color-grey60-rgb: 154 154 154;
    --stzh-color-grey60: rgba(var(--stzh-color-grey60-rgb) / 1);
    --stzh-color-grey70-rgb: 124 124 124;
    --stzh-color-grey70: rgba(var(--stzh-color-grey70-rgb) / 1);
    --stzh-color-grey80-rgb: 96 96 96;
    --stzh-color-grey80: rgba(var(--stzh-color-grey80-rgb) / 1);
    --stzh-color-grey90-rgb: 64 64 64;
    --stzh-color-grey90: rgba(var(--stzh-color-grey90-rgb) / 1);
    --stzh-color-grey100-rgb: 42 42 42;
    --stzh-color-grey100: rgba(var(--stzh-color-grey100-rgb) / 1);
    --stzh-color-tabasco-rgb: 165 26 15;
    --stzh-color-tabasco: rgba(var(--stzh-color-tabasco-rgb) / 1);
    --stzh-color-mahogany-rgb: 99 15 9;
    --stzh-color-mahogany: rgba(var(--stzh-color-mahogany-rgb) / 1);
    --stzh-color-monza-rgb: 195 0 36;
    --stzh-color-monza: rgba(var(--stzh-color-monza-rgb) / 1);
    --stzh-color-venetianred-rgb: 117 0 21;
    --stzh-color-venetianred: rgba(var(--stzh-color-venetianred-rgb) / 1);
    --stzh-color-scienceblue-rgb: 0 109 197;
    --stzh-color-scienceblue: rgba(var(--stzh-color-scienceblue-rgb) / 1);
    --stzh-color-vbz-cyan10-rgb: 235 249 255;
    --stzh-color-vbz-cyan10: rgba(var(--stzh-color-vbz-cyan10-rgb) / 1);
    --stzh-color-vbz-cyan20-rgb: 194 238 255;
    --stzh-color-vbz-cyan20: rgba(var(--stzh-color-vbz-cyan20-rgb) / 1);
    --stzh-color-vbz-cyan30-rgb: 132 220 255;
    --stzh-color-vbz-cyan30: rgba(var(--stzh-color-vbz-cyan30-rgb) / 1);
    --stzh-color-vbz-cyan40-rgb: 52 197 254;
    --stzh-color-vbz-cyan40: rgba(var(--stzh-color-vbz-cyan40-rgb) / 1);
    --stzh-color-vbz-cyan50-rgb: 0 159 223;
    --stzh-color-vbz-cyan50: rgba(var(--stzh-color-vbz-cyan50-rgb) / 1);
    --stzh-color-vbz-cyan60-rgb: 5 127 172;
    --stzh-color-vbz-cyan60: rgba(var(--stzh-color-vbz-cyan60-rgb) / 1);
    --stzh-color-vbz-cyan70-rgb: 0 102 143;
    --stzh-color-vbz-cyan70: rgba(var(--stzh-color-vbz-cyan70-rgb) / 1);
    --stzh-color-vbz-cyan80-rgb: 3 76 103;
    --stzh-color-vbz-cyan80: rgba(var(--stzh-color-vbz-cyan80-rgb) / 1);
    --stzh-color-vbz-cyan90-rgb: 0 44 61;
    --stzh-color-vbz-cyan90: rgba(var(--stzh-color-vbz-cyan90-rgb) / 1);
    --stzh-color-vbz-cyan100-rgb: 0 29 41;
    --stzh-color-vbz-cyan100: rgba(var(--stzh-color-vbz-cyan100-rgb) / 1);
    --stzh-color-shakespeare-rgb: 74 150 200;
    --stzh-color-shakespeare: rgba(var(--stzh-color-shakespeare-rgb) / 1);
    --stzh-color-chambray-rgb: 44 90 120;
    --stzh-color-chambray: rgba(var(--stzh-color-chambray-rgb) / 1);
    --stzh-color-ms-aoz-agenda-rgb: 47 142 135;
    --stzh-color-ms-aoz-agenda: rgba(var(--stzh-color-ms-aoz-agenda-rgb) / 1);
    --stzh-color-ms-aoz-agenda-hover-rgb: 33 102 100;
    --stzh-color-ms-aoz-agenda-hover: rgba(var(--stzh-color-ms-aoz-agenda-hover-rgb) / 1);
    --stzh-color-ms-coolgrey60-rgb: 92 119 129;
    --stzh-color-ms-coolgrey60: rgba(var(--stzh-color-ms-coolgrey60-rgb) / 1);
    --stzh-color-ms-coolgrey60-hover-rgb: 52 79 89;
    --stzh-color-ms-coolgrey60-hover: rgba(var(--stzh-color-ms-coolgrey60-hover-rgb) / 1);
    --stzh-color-ms-orange-rgb: 242 139 0;
    --stzh-color-ms-orange: rgba(var(--stzh-color-ms-orange-rgb) / 1);
    --stzh-color-ms-orange-hover-rgb: 145 83 0;
    --stzh-color-ms-orange-hover: rgba(var(--stzh-color-ms-orange-hover-rgb) / 1);
    --stzh-color-ms-red-rgb: 165 26 15;
    --stzh-color-ms-red: rgba(var(--stzh-color-ms-red-rgb) / 1);
    --stzh-color-ms-red-hover-rgb: 99 15 9;
    --stzh-color-ms-red-hover: rgba(var(--stzh-color-ms-red-hover-rgb) / 1);
    --stzh-color-ms-winered-rgb: 137 7 42;
    --stzh-color-ms-winered: rgba(var(--stzh-color-ms-winered-rgb) / 1);
    --stzh-color-ms-winered-hover-rgb: 82 4 25;
    --stzh-color-ms-winered-hover: rgba(var(--stzh-color-ms-winered-hover-rgb) / 1);
    --stzh-color-cobaltblue60-hover-rgb: 0 51 141;
    --stzh-color-cobaltblue60-hover: rgba(var(--stzh-color-cobaltblue60-hover-rgb) / 1);
    --stzh-color-shamrock70-hover-rgb: 5 77 20;
    --stzh-color-shamrock70-hover: rgba(var(--stzh-color-shamrock70-hover-rgb) / 1);
    --stzh-color-limegreen80-hover-rgb: 38 65 12;
    --stzh-color-limegreen80-hover: rgba(var(--stzh-color-limegreen80-hover-rgb) / 1);
    --stzh-color-magenta70-hover-rgb: 102 0 51;
    --stzh-color-magenta70-hover: rgba(var(--stzh-color-magenta70-hover-rgb) / 1);
    --stzh-color-ocher70-hover-rgb: 90 54 0;
    --stzh-color-ocher70-hover: rgba(var(--stzh-color-ocher70-hover-rgb) / 1);
    --stzh-color-orange70-hover-rgb: 111 38 31;
    --stzh-color-orange70-hover: rgba(var(--stzh-color-orange70-hover-rgb) / 1);
    --stzh-color-red60-hover-rgb: 162 3 9;
    --stzh-color-red60-hover: rgba(var(--stzh-color-red60-hover-rgb) / 1);
    --stzh-color-violet70-hover-rgb: 45 19 72;
    --stzh-color-violet70-hover: rgba(var(--stzh-color-violet70-hover-rgb) / 1);
    --stzh-color-white-rgb: 255 255 255;
    --stzh-color-white: rgba(var(--stzh-color-white-rgb) / 1);
    --stzh-color-white10op: rgba(var(--stzh-color-white-rgb) / 0.1);
    --stzh-color-white20op: rgba(var(--stzh-color-white-rgb) / 0.2);
    --stzh-color-white30op: rgba(var(--stzh-color-white-rgb) / 0.3);
    --stzh-color-white40op: rgba(var(--stzh-color-white-rgb) / 0.4);
    --stzh-color-white50op: rgba(var(--stzh-color-white-rgb) / 0.5);
    --stzh-color-white60op: rgba(var(--stzh-color-white-rgb) / 0.6);
    --stzh-color-white70op: rgba(var(--stzh-color-white-rgb) / 0.7);
    --stzh-color-white80op: rgba(var(--stzh-color-white-rgb) / 0.8);
    --stzh-color-white90op: rgba(var(--stzh-color-white-rgb) / 0.9);
    --stzh-color-black-rgb: 0 0 0;
    --stzh-color-black: rgba(var(--stzh-color-black-rgb) / 1);
    --stzh-color-black10op: rgba(var(--stzh-color-black-rgb) / 0.1);
    --stzh-color-black20op: rgba(var(--stzh-color-black-rgb) / 0.2);
    --stzh-color-black30op: rgba(var(--stzh-color-black-rgb) / 0.3);
    --stzh-color-black40op: rgba(var(--stzh-color-black-rgb) / 0.4);
    --stzh-color-black50op: rgba(var(--stzh-color-black-rgb) / 0.5);
    --stzh-color-black60op: rgba(var(--stzh-color-black-rgb) / 0.6);
    --stzh-color-black70op: rgba(var(--stzh-color-black-rgb) / 0.7);
    --stzh-color-black80op: rgba(var(--stzh-color-black-rgb) / 0.8);
    --stzh-color-black90op: rgba(var(--stzh-color-black-rgb) / 0.9);
    --stzh-color-primary10-rgb: var(--stzh-color-midnightblue10-rgb);
    --stzh-color-primary10: rgba(var(--stzh-color-primary10-rgb) / 1);
    --stzh-color-primary20-rgb: var(--stzh-color-midnightblue20-rgb);
    --stzh-color-primary20: rgba(var(--stzh-color-primary20-rgb) / 1);
    --stzh-color-primary30-rgb: var(--stzh-color-midnightblue30-rgb);
    --stzh-color-primary30: rgba(var(--stzh-color-primary30-rgb) / 1);
    --stzh-color-primary40-rgb: var(--stzh-color-midnightblue40-rgb);
    --stzh-color-primary40: rgba(var(--stzh-color-primary40-rgb) / 1);
    --stzh-color-primary50-rgb: var(--stzh-color-midnightblue50-rgb);
    --stzh-color-primary50: rgba(var(--stzh-color-primary50-rgb) / 1);
    --stzh-color-primary60-rgb: var(--stzh-color-midnightblue60-rgb);
    --stzh-color-primary60: rgba(var(--stzh-color-primary60-rgb) / 1);
    --stzh-color-primary70-rgb: var(--stzh-color-midnightblue70-rgb);
    --stzh-color-primary70: rgba(var(--stzh-color-primary70-rgb) / 1);
    --stzh-color-primary80-rgb: var(--stzh-color-midnightblue80-rgb);
    --stzh-color-primary80: rgba(var(--stzh-color-primary80-rgb) / 1);
    --stzh-color-primary90-rgb: var(--stzh-color-midnightblue90-rgb);
    --stzh-color-primary90: rgba(var(--stzh-color-primary90-rgb) / 1);
    --stzh-color-primary100-rgb: var(--stzh-color-midnightblue100-rgb);
    --stzh-color-primary100: rgba(var(--stzh-color-primary100-rgb) / 1);
    --stzh-color-secondary10-rgb: var(--stzh-color-cobaltblue10-rgb);
    --stzh-color-secondary10: rgba(var(--stzh-color-secondary10-rgb) / 1);
    --stzh-color-secondary20-rgb: var(--stzh-color-cobaltblue20-rgb);
    --stzh-color-secondary20: rgba(var(--stzh-color-secondary20-rgb) / 1);
    --stzh-color-secondary30-rgb: var(--stzh-color-cobaltblue30-rgb);
    --stzh-color-secondary30: rgba(var(--stzh-color-secondary30-rgb) / 1);
    --stzh-color-secondary40-rgb: var(--stzh-color-cobaltblue40-rgb);
    --stzh-color-secondary40: rgba(var(--stzh-color-secondary40-rgb) / 1);
    --stzh-color-secondary50-rgb: var(--stzh-color-cobaltblue50-rgb);
    --stzh-color-secondary50: rgba(var(--stzh-color-secondary50-rgb) / 1);
    --stzh-color-secondary60-rgb: var(--stzh-color-cobaltblue60-rgb);
    --stzh-color-secondary60: rgba(var(--stzh-color-secondary60-rgb) / 1);
    --stzh-color-secondary70-rgb: var(--stzh-color-cobaltblue70-rgb);
    --stzh-color-secondary70: rgba(var(--stzh-color-secondary70-rgb) / 1);
    --stzh-color-secondary80-rgb: var(--stzh-color-cobaltblue80-rgb);
    --stzh-color-secondary80: rgba(var(--stzh-color-secondary80-rgb) / 1);
    --stzh-color-secondary90-rgb: var(--stzh-color-cobaltblue90-rgb);
    --stzh-color-secondary90: rgba(var(--stzh-color-secondary90-rgb) / 1);
    --stzh-color-secondary100-rgb: var(--stzh-color-cobaltblue100-rgb);
    --stzh-color-secondary100: rgba(var(--stzh-color-secondary100-rgb) / 1);
    --stzh-color-primary-rgb: var(--stzh-color-primary70-rgb);
    --stzh-color-primary: rgba(var(--stzh-color-primary-rgb) / 1);
    --stzh-color-primary-hover-rgb: var(--stzh-color-primary90-rgb);
    --stzh-color-primary-hover: rgba(var(--stzh-color-primary-hover-rgb) / 1);
    --stzh-color-success10-rgb: var(--stzh-color-shamrock10-rgb);
    --stzh-color-success10: rgba(var(--stzh-color-success10-rgb) / 1);
    --stzh-color-success20-rgb: var(--stzh-color-shamrock20-rgb);
    --stzh-color-success20: rgba(var(--stzh-color-success20-rgb) / 1);
    --stzh-color-success30-rgb: var(--stzh-color-shamrock30-rgb);
    --stzh-color-success30: rgba(var(--stzh-color-success30-rgb) / 1);
    --stzh-color-success40-rgb: var(--stzh-color-shamrock40-rgb);
    --stzh-color-success40: rgba(var(--stzh-color-success40-rgb) / 1);
    --stzh-color-success50-rgb: var(--stzh-color-shamrock50-rgb);
    --stzh-color-success50: rgba(var(--stzh-color-success50-rgb) / 1);
    --stzh-color-success60-rgb: var(--stzh-color-shamrock60-rgb);
    --stzh-color-success60: rgba(var(--stzh-color-success60-rgb) / 1);
    --stzh-color-success70-rgb: var(--stzh-color-shamrock70-rgb);
    --stzh-color-success70: rgba(var(--stzh-color-success70-rgb) / 1);
    --stzh-color-success80-rgb: var(--stzh-color-shamrock80-rgb);
    --stzh-color-success80: rgba(var(--stzh-color-success80-rgb) / 1);
    --stzh-color-success90-rgb: var(--stzh-color-shamrock90-rgb);
    --stzh-color-success90: rgba(var(--stzh-color-success90-rgb) / 1);
    --stzh-color-success100-rgb: var(--stzh-color-shamrock100-rgb);
    --stzh-color-success100: rgba(var(--stzh-color-success100-rgb) / 1);
    --stzh-color-error10-rgb: var(--stzh-color-coral10-rgb);
    --stzh-color-error10: rgba(var(--stzh-color-error10-rgb) / 1);
    --stzh-color-error20-rgb: var(--stzh-color-coral20-rgb);
    --stzh-color-error20: rgba(var(--stzh-color-error20-rgb) / 1);
    --stzh-color-error30-rgb: var(--stzh-color-coral30-rgb);
    --stzh-color-error30: rgba(var(--stzh-color-error30-rgb) / 1);
    --stzh-color-error40-rgb: var(--stzh-color-coral40-rgb);
    --stzh-color-error40: rgba(var(--stzh-color-error40-rgb) / 1);
    --stzh-color-error50-rgb: var(--stzh-color-coral50-rgb);
    --stzh-color-error50: rgba(var(--stzh-color-error50-rgb) / 1);
    --stzh-color-error60-rgb: var(--stzh-color-coral60-rgb);
    --stzh-color-error60: rgba(var(--stzh-color-error60-rgb) / 1);
    --stzh-color-error70-rgb: var(--stzh-color-coral70-rgb);
    --stzh-color-error70: rgba(var(--stzh-color-error70-rgb) / 1);
    --stzh-color-error80-rgb: var(--stzh-color-coral80-rgb);
    --stzh-color-error80: rgba(var(--stzh-color-error80-rgb) / 1);
    --stzh-color-error90-rgb: var(--stzh-color-coral90-rgb);
    --stzh-color-error90: rgba(var(--stzh-color-error90-rgb) / 1);
    --stzh-color-error100-rgb: var(--stzh-color-coral100-rgb);
    --stzh-color-error100: rgba(var(--stzh-color-error100-rgb) / 1);
    --stzh-color-warning10-rgb: var(--stzh-color-sunnyyellow10-rgb);
    --stzh-color-warning10: rgba(var(--stzh-color-warning10-rgb) / 1);
    --stzh-color-warning20-rgb: var(--stzh-color-sunnyyellow20-rgb);
    --stzh-color-warning20: rgba(var(--stzh-color-warning20-rgb) / 1);
    --stzh-color-warning30-rgb: var(--stzh-color-sunnyyellow30-rgb);
    --stzh-color-warning30: rgba(var(--stzh-color-warning30-rgb) / 1);
    --stzh-color-warning40-rgb: var(--stzh-color-sunnyyellow40-rgb);
    --stzh-color-warning40: rgba(var(--stzh-color-warning40-rgb) / 1);
    --stzh-color-warning50-rgb: var(--stzh-color-sunnyyellow50-rgb);
    --stzh-color-warning50: rgba(var(--stzh-color-warning50-rgb) / 1);
    --stzh-color-warning60-rgb: var(--stzh-color-sunnyyellow60-rgb);
    --stzh-color-warning60: rgba(var(--stzh-color-warning60-rgb) / 1);
    --stzh-color-warning70-rgb: var(--stzh-color-sunnyyellow70-rgb);
    --stzh-color-warning70: rgba(var(--stzh-color-warning70-rgb) / 1);
    --stzh-color-warning80-rgb: var(--stzh-color-sunnyyellow80-rgb);
    --stzh-color-warning80: rgba(var(--stzh-color-warning80-rgb) / 1);
    --stzh-color-warning90-rgb: var(--stzh-color-sunnyyellow90-rgb);
    --stzh-color-warning90: rgba(var(--stzh-color-warning90-rgb) / 1);
    --stzh-color-warning100-rgb: var(--stzh-color-sunnyyellow100-rgb);
    --stzh-color-warning100: rgba(var(--stzh-color-warning100-rgb) / 1);
    --stzh-color-info10-rgb: var(--stzh-color-coolgrey10-rgb);
    --stzh-color-info10: rgba(var(--stzh-color-info10-rgb) / 1);
    --stzh-color-info20-rgb: var(--stzh-color-coolgrey20-rgb);
    --stzh-color-info20: rgba(var(--stzh-color-info20-rgb) / 1);
    --stzh-color-info30-rgb: var(--stzh-color-coolgrey30-rgb);
    --stzh-color-info30: rgba(var(--stzh-color-info30-rgb) / 1);
    --stzh-color-info40-rgb: var(--stzh-color-coolgrey40-rgb);
    --stzh-color-info40: rgba(var(--stzh-color-info40-rgb) / 1);
    --stzh-color-info50-rgb: var(--stzh-color-coolgrey50-rgb);
    --stzh-color-info50: rgba(var(--stzh-color-info50-rgb) / 1);
    --stzh-color-info60-rgb: var(--stzh-color-coolgrey60-rgb);
    --stzh-color-info60: rgba(var(--stzh-color-info60-rgb) / 1);
    --stzh-color-info70-rgb: var(--stzh-color-coolgrey70-rgb);
    --stzh-color-info70: rgba(var(--stzh-color-info70-rgb) / 1);
    --stzh-color-info80-rgb: var(--stzh-color-coolgrey80-rgb);
    --stzh-color-info80: rgba(var(--stzh-color-info80-rgb) / 1);
    --stzh-color-info90-rgb: var(--stzh-color-coolgrey90-rgb);
    --stzh-color-info90: rgba(var(--stzh-color-info90-rgb) / 1);
    --stzh-color-info100-rgb: var(--stzh-color-coolgrey100-rgb);
    --stzh-color-info100: rgba(var(--stzh-color-info100-rgb) / 1);
    --stzh-color-old-truegreen-rgb: 0 128 0;
    --stzh-color-old-truegreen: rgba(var(--stzh-color-old-truegreen-rgb) / 1);
    --stzh-color-old-warning-rgb: 219 126 0;
    --stzh-color-old-warning: rgba(var(--stzh-color-old-warning-rgb) / 1);
    --stzh-color-old-active-rgb: 164 196 0;
    --stzh-color-old-active: rgba(var(--stzh-color-old-active-rgb) / 1);
    --stzh-color-old-grey5-rgb: 242 242 242;
    --stzh-color-old-grey5: rgba(var(--stzh-color-old-grey5-rgb) / 1);
    --stzh-color-old-grey13-rgb: 222 222 222;
    --stzh-color-old-grey13: rgba(var(--stzh-color-old-grey13-rgb) / 1);
    --stzh-color-old-grey25-rgb: 191 191 191;
    --stzh-color-old-grey25: rgba(var(--stzh-color-old-grey25-rgb) / 1);
    --stzh-color-old-grey40-rgb: 153 153 153;
    --stzh-color-old-grey40: rgba(var(--stzh-color-old-grey40-rgb) / 1);
    --stzh-color-old-grey55-rgb: 115 115 115;
    --stzh-color-old-grey55: rgba(var(--stzh-color-old-grey55-rgb) / 1);
    --stzh-color-old-grey61-rgb: 100 100 100;
    --stzh-color-old-grey61: rgba(var(--stzh-color-old-grey61-rgb) / 1);
    --stzh-color-old-grey70-rgb: 77 77 77;
    --stzh-color-old-grey70: rgba(var(--stzh-color-old-grey70-rgb) / 1);
    --stzh-color-old-grey87-rgb: 34 34 34;
    --stzh-color-old-grey87: rgba(var(--stzh-color-old-grey87-rgb) / 1);
    --stzh-color-old-primary48: rgba(var(--stzh-color-primary-rgb) / 0.48);
    --stzh-color-old-primary32: rgba(var(--stzh-color-primary-rgb) / 0.32);
    --stzh-color-old-primary8: rgba(var(--stzh-color-primary-rgb) / 0.08);
    --stzh-color-old-primary4: rgba(var(--stzh-color-primary-rgb) / 0.04);
    --stzh-font-family-light: 'HelveticaNeueLTW01_41488878', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --stzh-font-family-regular: 'HelveticaNeueLTW01_55Roman', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --stzh-font-family-medium: 'HelveticaNeueLTW05_65Medium', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --stzh-font-family-medium-italic: 'HelveticaNeueLTW05_66MediumIt', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --stzh-font-family-bold: 'HelveticaNeueLTW01_71488914', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --stzh-font-family-heavy: 'HelveticaNeueLTW05_85Heavy', -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --stzh-font-family-title: var(--stzh-font-family-heavy);
    --stzh-font-weight-light: 300;
    --stzh-font-weight-regular: 400;
    --stzh-font-weight-medium: 500;
    --stzh-font-weight-medium: 400; /*Adjusting for Decidim font loading*/
    --stzh-font-weight-medium-italic: 500;
    --stzh-font-weight-bold: 700;
    --stzh-font-weight-heavy: 900;
    --stzh-font-weight-heavy: 400; /*Adjusting for Decidim font loading*/
    --stzh-font-weight-title: 900;
    --stzh-font-style-light: normal;
    --stzh-font-style-regular: normal;
    --stzh-font-style-medium: normal;
    --stzh-font-style-medium-italic: normal;
    --stzh-font-style-bold: normal;
    --stzh-font-style-heavy: normal;
    --stzh-font-style-title: normal;
    --stzh-font-femto-font-size: 0.625rem;
    --stzh-font-femto-text-line-height: 1.1;
    --stzh-font-pico-font-size: 0.75rem;
    --stzh-font-pico-text-line-height: 1.1;
    --stzh-font-pico-heading-letter-spacing: 0.01em;
    --stzh-font-nano-font-size: 0.8125rem;
    --stzh-font-nano-text-line-height: 1.5;
    --stzh-font-nano-heading-line-height: 1.2;
    --stzh-font-nano-heading-letter-spacing: 0.01em;
    --stzh-font-nano-lead-line-height: 1.7;
    --stzh-font-micro-font-size: 0.875rem;
    --stzh-font-micro-text-line-height: 1.5;
    --stzh-font-micro-heading-line-height: 1.2;
    --stzh-font-micro-heading-letter-spacing: 0.01em;
    --stzh-font-micro-lead-line-height: 1.7;
    --stzh-font-milli-font-size: 1rem;
    --stzh-font-milli-text-line-height: 1.5;
    --stzh-font-milli-heading-line-height: 1.2;
    --stzh-font-milli-lead-line-height: 1.7;
    --stzh-font-centi-font-size: 1.125rem;
    --stzh-font-centi-text-line-height: 1.5;
    --stzh-font-centi-heading-line-height: 1.2;
    --stzh-font-centi-lead-line-height: 1.7;
    --stzh-font-deci-font-size: 1.25rem;
    --stzh-font-deci-text-line-height: 1.5;
    --stzh-font-deci-heading-line-height: 1.2;
    --stzh-font-deci-lead-line-height: 1.7;
    --stzh-font-regular-font-size: 1.375rem;
    --stzh-font-regular-text-line-height: 1.6;
    --stzh-font-regular-heading-line-height: 1.4;
    --stzh-font-deca-font-size: 1.5rem;
    --stzh-font-deca-text-line-height: 1.3;
    --stzh-font-deca-text-letter-spacing: -0.01em;
    --stzh-font-hecto-font-size: 1.75rem;
    --stzh-font-hecto-text-line-height: 1.3;
    --stzh-font-hecto-text-letter-spacing: -0.01em;
    --stzh-font-kilo-font-size: 2rem;
    --stzh-font-kilo-text-line-height: 1.3;
    --stzh-font-kilo-text-letter-spacing: -0.01em;
    --stzh-font-mega-font-size: 2.5rem;
    --stzh-font-mega-text-line-height: 1.2;
    --stzh-font-mega-text-letter-spacing: -0.02em;
    --stzh-font-giga-font-size: 3rem;
    --stzh-font-giga-text-line-height: 1.2;
    --stzh-font-giga-text-letter-spacing: -0.02em;
    --stzh-font-hero-font-size: 3.5rem;
    --stzh-font-hero-text-line-height: 1.2;
    --stzh-font-hero-text-letter-spacing: -0.02em;
    --stzh-font-peta-font-size: 4rem;
    --stzh-font-peta-text-line-height: 1.2;
    --stzh-font-peta-text-letter-spacing: -0.02em;
    --stzh-font-exa-font-size: 5rem;
    --stzh-font-exa-text-line-height: 1.2;
    --stzh-font-exa-text-letter-spacing: -0.02em;
    --stzh-font-zetta-font-size: 5.625rem;
    --stzh-font-zetta-text-line-height: 1.2;
    --stzh-font-zetta-text-letter-spacing: -0.02em;
    --stzh-z-index-deep: -999999;
    --stzh-z-index-default: 1;
    --stzh-z-index-masked: 100;
    --stzh-z-index-mask: 200;
    --stzh-z-index-sticky: 300;
    --stzh-z-index-header: 400;
    --stzh-z-index-toast: 500;
    --stzh-z-index-popover: 600;
    --stzh-z-index-dialog: 700;
    --stzh-z-index-popup: 800;
    --stzh-z-index-overlay: 900;
    --stzh-space-none: 0px;
    --stzh-space-xxxsmall: 0.125rem;
    --stzh-space-xxsmall: 0.25rem;
    --stzh-space-xsmall: 0.5rem;
    --stzh-space-small: 0.75rem;
    --stzh-space-medium: 1rem;
    --stzh-space-large: 1.25rem;
    --stzh-space-xlarge: 1.5rem;
    --stzh-space-xxlarge: 2rem;
    --stzh-space-xxxlarge: 2.5rem;
    --stzh-space-xxxxlarge: 3rem;
    --stzh-space-big: 3.5rem;
    --stzh-space-xbig: 4rem;
    --stzh-space-huge: 5rem;
    --stzh-space-xhuge: 6rem;
    --stzh-space-default: var(--stzh-space-medium);
    --stzh-box-shadow-header: none;
    --stzh-box-shadow-popover: none;
    --stzh-box-shadow-message: none;
    --stzh-box-shadow-overlay: 0px 0.25rem 0.9375rem rgba(0 0 0 / 0.32);
    --stzh-icon-size-xxsmall: 0.75rem;
    --stzh-icon-size-xsmall: 1rem;
    --stzh-icon-size-small: 1.25rem;
    --stzh-icon-size-medium: 1.5rem;
    --stzh-icon-size-large: 2rem;
    --stzh-icon-size-xlarge: 3rem;
    --stzh-grid-gutter: 1rem;
    --stzh-grid-gutter-small: 1.25rem;
    --stzh-grid-gutter-medium: 1.25rem;
    --stzh-grid-gutter-large: 1.5rem;
    --stzh-grid-gutter-ultra: 2rem;
    --stzh-base-color: var(--stzh-color-black);
    --stzh-base-invert-color: var(--stzh-color-white);
    --stzh-base-invert-background-color: var(--stzh-color-primary70);
    --stzh-base-lead-color: var(--stzh-color-black);
    --stzh-base-border-color: var(--stzh-color-grey70);
    --stzh-base-transition-animation-speed: 0.3s;
    --stzh-selection-background-color: var(--stzh-color-secondary20);
    --stzh-flyingfocus-color: var(--stzh-color-secondary60);
    --stzh-icon-size: var(--stzh-icon-size-medium);
    --stzh-icon-color: currentColor;
    --stzh-icon-vertical-align: text-top;
    --stzh-link-color: var(--stzh-color-primary70);
    --stzh-link-icon-size: var(--stzh-icon-size-medium);
    --stzh-link-text-decoration-line: underline;
    --stzh-link-text-decoration-thickness: calc(1em / 16);
    --stzh-link-text-underline-offset: calc(2.5em / 16);
    --stzh-link-text-decoration-skip-ink: none;
    --stzh-link-icon-wrapper-height: 1em;
    --stzh-link-hover-color: var(--stzh-color-secondary60);
    --stzh-link-hover-text-decoration-line: underline;
    --stzh-link-secondary-color: var(--stzh-color-secondary60);
    --stzh-link-secondary-hover-color: var(--stzh-color-primary70);
    --stzh-section-highlight-color: var(--stzh-base-color);
    --stzh-section-highlight-background-color: var(--stzh-color-secondary10);
    --stzh-heading-color: var(--stzh-color-primary70);
    --stzh-text-info-color: var(--stzh-color-coolgrey70);
    --stzh-fieldset-description-min-height: 1.375rem;
    --stzh-table-max-height: none;
    --stzh-table-min-width: 43.75rem;
    --stzh-table-cell-padding: var(--stzh-space-small) var(--stzh-space-medium);
    --stzh-table-search-input-width: 11rem;
    --stzh-menu-item-height: 2.75rem;
    --stzh-menu-large-item-height: 3.5rem;
    --stzh-form-input-border-radius: 0px;
    --stzh-form-input-height: 3.5rem;
    --stzh-form-input-small-height: 2.75rem;
    --stzh-form-input-tiny-height: 2rem;
    --stzh-popover-width: 13.9375rem;
    --stzh-popover-min-width: initial;
    --stzh-popover-max-width: initial;
    --stzh-popover-padding: 0px;
    --stzh-popover-content-padding: var(--stzh-space-xsmall) 0px;
    --stzh-popover-border-radius: 0px;
    --stzh-popover-close-visibility: hidden;
    --stzh-popover-background-color: var(--stzh-color-grey10);
    --stzh-popover-large-content-padding: var(--stzh-space-medium) 0px;
    --stzh-tooltip-width: auto;
    --stzh-tooltip-min-width: initial;
    --stzh-tooltip-max-width: 20.875rem;
    --stzh-tooltip-padding: calc(var(--stzh-space-small) + 0.0625rem) var(--stzh-space-xsmall);
    --stzh-tooltip-border-radius: 0px;
    --stzh-tooltip-drop-shadow: none;
    --stzh-tooltip-small-padding: 0 var(--stzh-space-xxsmall);
    --stzh-header-logobar-background-color: var(--stzh-color-primary70);
    --stzh-footer-background-color: var(--stzh-color-primary100);
    --stzh-accordion-content-background: var(--stzh-color-secondary10);
    --stzh-timeline-bullet-size: 2.5rem;
    --stzh-timeline-content-padding-top: var(--stzh-space-medium);
    --stzh-dialog-backdrop-opacity: 0.7;
    --stzh-dialog-backdrop-background-color: var(--stzh-color-black);
    --stzh-overlay-backdrop-opacity: 0.8;
    --stzh-overlay-backdrop-background-color: var(--stzh-color-white);
    --stzh-ratio-background-color: var(--stzh-color-grey20);
    --stzh-pagetitle-background-color: var(--stzh-color-secondary30);
    --stzh-topnews-background-color: var(--stzh-color-secondary30);
    --stzh-mostsearched-background-color: var(--stzh-color-secondary40);
    --stzh-calendar-width: 20rem;
    --stzh-cta-background-color: var(--stzh-color-violet60);
    --stzh-toast-label-font-family: var(--stzh-font-family-medium);
    --stzh-toast-label-font-weight: var(--stzh-font-weight-medium);
    --stzh-toast-label-font-style: var(--stzh-font-style-medium);
    --stzh-toast-background-color: var(--stzh-color-grey20);
    --stzh-toast-label-color: var(--stzh-base-color);
    --stzh-toast-close-color: var(--stzh-base-color);
    --stzh-toast-button-color: var(--stzh-base-color);
    --stzh-toast-icon-color: var(--stzh-color-info70);
    --stzh-toast-success-icon-color: var(--stzh-color-success70);
    --stzh-toast-error-icon-color: var(--stzh-color-error60);
    --stzh-toast-warning-icon-color: var(--stzh-color-warning80);
    --button-background-color: var(--stzh-color-secondary30);
    --hover-button-background-color: var(--stzh-color-secondary40);
    --background-color: var(--stzh-color-coolgrey10);
    --hover-background-color: var(--stzh-color-grey20);
    /*Own root variables*/
    --border-color: var(--stzh-color-grey70);
    --tw-prose-headings: var(--stzh-heading-color);
    --stzh-color-footer-text: rgba(255 255 255 / 0.7);
    --stzh-cardlist-background-color: var(--stzh-color-grey10);
    --marker-color-small: var(--stzh-color-primary70);
    --marker-color-semitransparent: rgba(var(--stzh-color-primary70-rgb) / 0.5);
    --marker-color-medium: var(--stzh-color-secondary60);
    --marker-color-medium-semitransparent: rgba(var(--stzh-color-secondary60-rgb) / 0.5);
}

