/* VBZ theme variables*/

body {
  --stzh-color-primary10-rgb: var(--stzh-color-vbz-cyan10-rgb);
  --stzh-color-primary10: rgba(var(--stzh-color-primary10-rgb) / 1);
  --stzh-color-primary20-rgb: var(--stzh-color-vbz-cyan20-rgb);
  --stzh-color-primary20: rgba(var(--stzh-color-primary20-rgb) / 1);
  --stzh-color-primary30-rgb: var(--stzh-color-vbz-cyan30-rgb);
  --stzh-color-primary30: rgba(var(--stzh-color-primary30-rgb) / 1);
  --stzh-color-primary40-rgb: var(--stzh-color-vbz-cyan40-rgb);
  --stzh-color-primary40: rgba(var(--stzh-color-primary40-rgb) / 1);
  --stzh-color-primary50-rgb: var(--stzh-color-vbz-cyan50-rgb);
  --stzh-color-primary50: rgba(var(--stzh-color-primary50-rgb) / 1);
  --stzh-color-primary60-rgb: var(--stzh-color-vbz-cyan60-rgb);
  --stzh-color-primary60: rgba(var(--stzh-color-primary60-rgb) / 1);
  --stzh-color-primary70-rgb: var(--stzh-color-vbz-cyan70-rgb);
  --stzh-color-primary70: rgba(var(--stzh-color-primary70-rgb) / 1);
  --stzh-color-primary80-rgb: var(--stzh-color-vbz-cyan80-rgb);
  --stzh-color-primary80: rgba(var(--stzh-color-primary80-rgb) / 1);
  --stzh-color-primary90-rgb: var(--stzh-color-vbz-cyan90-rgb);
  --stzh-color-primary90: rgba(var(--stzh-color-primary90-rgb) / 1);
  --stzh-color-primary100-rgb: var(--stzh-color-vbz-cyan100-rgb);
  --stzh-color-primary100: rgba(var(--stzh-color-primary100-rgb) / 1);
  --stzh-color-secondary10-rgb: var(--stzh-color-coolgrey10-rgb);
  --stzh-color-secondary10: rgba(var(--stzh-color-secondary10-rgb) / 1);
  --stzh-color-secondary20-rgb: var(--stzh-color-coolgrey20-rgb);
  --stzh-color-secondary20: rgba(var(--stzh-color-secondary20-rgb) / 1);
  --stzh-color-secondary30-rgb: var(--stzh-color-coolgrey30-rgb);
  --stzh-color-secondary30: rgba(var(--stzh-color-secondary30-rgb) / 1);
  --stzh-color-secondary40-rgb: var(--stzh-color-coolgrey40-rgb);
  --stzh-color-secondary40: rgba(var(--stzh-color-secondary40-rgb) / 1);
  --stzh-color-secondary50-rgb: var(--stzh-color-coolgrey50-rgb);
  --stzh-color-secondary50: rgba(var(--stzh-color-secondary50-rgb) / 1);
  --stzh-color-secondary60-rgb: var(--stzh-color-coolgrey60-rgb);
  --stzh-color-secondary60: rgba(var(--stzh-color-secondary60-rgb) / 1);
  --stzh-color-secondary70-rgb: var(--stzh-color-coolgrey70-rgb);
  --stzh-color-secondary70: rgba(var(--stzh-color-secondary70-rgb) / 1);
  --stzh-color-secondary80-rgb: var(--stzh-color-coolgrey80-rgb);
  --stzh-color-secondary80: rgba(var(--stzh-color-secondary80-rgb) / 1);
  --stzh-color-secondary90-rgb: var(--stzh-color-coolgrey90-rgb);
  --stzh-color-secondary90: rgba(var(--stzh-color-secondary90-rgb) / 1);
  --stzh-color-secondary100-rgb: var(--stzh-color-coolgrey100-rgb);
  --stzh-color-secondary100: rgba(var(--stzh-color-secondary100-rgb) / 1);
  --stzh-color-info10-rgb: var(--stzh-color-cobaltblue10-rgb);
  --stzh-color-info10: rgba(var(--stzh-color-info10-rgb) / 1);
  --stzh-color-info20-rgb: var(--stzh-color-cobaltblue20-rgb);
  --stzh-color-info20: rgba(var(--stzh-color-info20-rgb) / 1);
  --stzh-color-info30-rgb: var(--stzh-color-cobaltblue30-rgb);
  --stzh-color-info30: rgba(var(--stzh-color-info30-rgb) / 1);
  --stzh-color-info40-rgb: var(--stzh-color-cobaltblue40-rgb);
  --stzh-color-info40: rgba(var(--stzh-color-info40-rgb) / 1);
  --stzh-color-info50-rgb: var(--stzh-color-cobaltblue50-rgb);
  --stzh-color-info50: rgba(var(--stzh-color-info50-rgb) / 1);
  --stzh-color-info60-rgb: var(--stzh-color-cobaltblue60-rgb);
  --stzh-color-info60: rgba(var(--stzh-color-info60-rgb) / 1);
  --stzh-color-info70-rgb: var(--stzh-color-cobaltblue70-rgb);
  --stzh-color-info70: rgba(var(--stzh-color-info70-rgb) / 1);
  --stzh-color-info80-rgb: var(--stzh-color-cobaltblue80-rgb);
  --stzh-color-info80: rgba(var(--stzh-color-info80-rgb) / 1);
  --stzh-color-info90-rgb: var(--stzh-color-cobaltblue90-rgb);
  --stzh-color-info90: rgba(var(--stzh-color-info90-rgb) / 1);
  --stzh-color-info100-rgb: var(--stzh-color-cobaltblue100-rgb);
  --stzh-color-info100: rgba(var(--stzh-color-info100-rgb) / 1);
  --stzh-font-family-regular: 'HelveticaNeueLTW01_55Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --stzh-font-family-medium: 'HelveticaNeueLTW01_55Roman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --stzh-font-family-medium-italic: 'HelveticaNeueLTW05_66MediumIt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --stzh-font-family-bold: 'HelveticaNeueLTW05_65Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --stzh-font-family-heavy: 'HelveticaNeueLTW05_65Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --stzh-font-family-title: var(--stzh-font-family-regular);
  --stzh-font-weight-regular: normal;
  --stzh-font-weight-medium: 400;
  --stzh-font-weight-medium-italic: 400;
  --stzh-font-weight-bold: 500;
  --stzh-font-weight-heavy: 500;
  --stzh-button-background-color: var(--stzh-color-primary60);
  --stzh-button-hover-background-color: var(--stzh-color-primary80);
  --stzh-button-disabled-background-color: var(--stzh-color-grey70);
  --stzh-button-secondary-background-color: var(--stzh-color-secondary30);
  --stzh-button-secondary-hover-background-color: var(--stzh-color-secondary40);
  --stzh-button-secondary-disabled-background-color: var(--stzh-color-grey20);
  --stzh-button-secondary-color: var(--stzh-color-primary70);
  --stzh-button-secondary-hover-color: var(--stzh-color-primary80);
  --stzh-button-secondary-disabled-color: var(--stzh-color-grey70);
  --stzh-button-tertiary-color: var(--stzh-color-primary70);
  --stzh-button-tertiary-hover-color: var(--stzh-color-primary80);
  --stzh-button-tertiary-disabled-color: var(--stzh-color-grey70);
  --stzh-link-color: var(--stzh-color-primary50);
  --stzh-link-hover-color: var(--stzh-color-primary60);
  --stzh-header-logobar-background-color: transparent;
  --stzh-tooltip-color: var(--stzh-color-secondary70);
  --stzh-tooltip-background-color: var(--stzh-color-secondary10);
  --stzh-tooltip-link-color: var(--stzh-color-primary60);
  --stzh-tooltip-hover-link-color: var(--stzh-color-primary70);
  --stzh-cardlist-background-color: var(--stzh-color-coolgrey10);
  --stzh-cardlist-description-color: var(--stzh-color-primary70);
  /*manual additions*/
  --stzh-heading-color: var(--stzh-color-primary70);
  --stzh-link-color: var(--stzh-color-primary60);
  --stzh-topnews-background-color: var(--stzh-color-secondary30);
}
