/*–––– VBZ adjustments –––––*/


/*Replace logo with VBZ logo*/
header .main-bar__logo-desktop/*, header .main-bar__logo-mobile*/ {
  background: url(https://www.stadt-zuerich.ch/content/dam/corporate-design/de/logos/vbz.svg) no-repeat;
  background-size: auto 60px;
  width: 0;
  height: 79px;
  padding-left: 19rem;
}

header .main-bar__logo-mobile a {
  display: none;
}
